body{
    width: 100%;
    margin: 0% auto;
}

@font-face {
    font-family: "Bagnard";
    src: url(../font/Bagnard.otf); 
  }

 @font-face {
    font-family: "SuisseIntlMono-Regular-WebS";
    src: url(../font/SuisseIntlMono-Regular-WebS.woff); 
  }

/* main */
main{
    width:100vw;
    height: 90vh;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.main-container{
    width: 60vw;
}

h1{
    font-family: 'Bagnard';
    font-size: 46pt;
    font-weight: normal;
    line-height: 54pt;
}

main a{
    background-color: white;
}

li{
    list-style: none;
}

a:link{
    text-decoration: none;
	color: black;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: #000;
}

/* background imgs */
img{
    display: none;
    position: fixed;
    margin: 0px auto;
    top: 0%;
    z-index: -1;
    transition: 0.5s ;
}

/* project info */
.project-info section{
    position: fixed;
    width: 20%;
    border: 1px solid #000;
}
.project-info p{
    padding: 0em 1.5em;
}

.echo-info{
    top: 7%;
    right: 4%;
    display: none;
}
.project-info img{
    position: relative;
    z-index: -1;
    border-top: 1px solid #000;

}

.weather-info{
    top: 10%;
    left: 10%;
    display: none;
}

.workday-info{
    top: 50%;
    left: 15%;
    display: none;
}

hr{
    color: #000;
}

#close{
    position: absolute;
    top: 19px;
    right: 19px;
    cursor: pointer;
}



/* footer */
.footer-list{
    width: 100%;
    display: flex;
    align-items: flex-start;
    position: fixed;
    padding: 0;
    margin: 0 0 0 0;
    bottom: 0%;
    background-color: white;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    list-style: none;
    overflow: hidden;
    transition: .4s;
    /* box-sizing: border-box; */
}

footer li{
    white-space: nowrap;
    display: inline-block;
    text-align: centre;
    margin: 0;
    font-size: 14pt;
}

footer li:hover{
    text-decoration: underline;
}

.info{
    width: 330px;
    position: fixed;
    bottom: 62px;
    float: left;
    border: 1px solid #000;
    border-left: none;
    border-bottom: none;
    padding: 1em;
    display: none;
}

.info.showme{
    display: block;
}

.info a,
p{
    font-family: 'SuisseIntlMono-Regular-WebS';
}

#contact{
    padding: 0em 1em;
    border-right: 1px solid #000;
    background-color: white;
	z-index: 99;
	cursor: pointer;
}

#contact.showme{
    text-decoration: underline;
}

#about{
    width: 73%;
    z-index: -2;
    /* Starting position */  
    -moz-transform:translateX(50%);
    -webkit-transform:translateX(50%);    
    transform:translateX(100%);
    /* Apply animation to this element */  
    -moz-animation: example1 25s linear infinite;
    -webkit-animation: example1 25s linear infinite;
    animation: example1 25s linear infinite;
}

/* Define transform animation */
@-moz-keyframes example1 {
    0%   { -moz-transform: translateX(100%); 
            transform: translate(100%)}
    100% { -moz-transform: translateX(-100%); 
            transform: translate(100%)}
}
@-webkit-keyframes example1 {
    0%   { -webkit-transform: translateX(100%); 
            transform: translate(100%)}
    100% { -webkit-transform: translateX(-100%); 
            transform: translate(100%)}
}
@keyframes example1 {
    0%   { -moz-transform: translateX(100%); /* Firefox bug fix */
            -webkit-transform: translateX(100%); /* Firefox bug fix */
            transform: translateX(100%);       
    }
    100% { -moz-transform: translateX(-100%); /* Firefox bug fix */
            -webkit-transform: translateX(-100%); /* Firefox bug fix */
            transform: translateX(-100%); 
    }
}













@media only screen and (max-width: 500px)
{
    .info{width: 70%;}

    ul{
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 1px solid #000;
    }

}


